<div class="row h-24">
    <div class="col-12">
yes daddy
    </div>
</div>
    <h1>Edit songs</h1>
<div>
</div>
<h1>Admin Page</h1>
<p>
    Edit sample needed to flag/lock sample, delete sample.
    Delete public project/ upload file.
</p>
<div>
<div>
    Show all the samples. And then, have a toggle to flag them/lock them.
    There should be a thing that lets you delete the jawn as well.
</div>
<h1>Edit samples</h1>
<div>

    <form (ngSubmit)="onSubmit()" #userForm="ngForm">
        <table class="table">
            <thead>
                <th>Name</th>
                <th>Approved</th>
                <th>Locked</th>
            </thead>
            <tbody>
                <tr *ngFor="let sample of samples2admin;">
                    <td>
                        {{sample.sampleName}}
                    </td>
                    <td>
                        <label class="switch">
                        <input type="checkbox" [(ngModel)]="sample.isApproved" (change)="changeApproval(sample.isApproved?'1':'0')"
                        name="isApproved" #name="ngModel" value="sample.isApproved">
                        <span class="slider round"></span>
                        </label>
                    </td>
                    <td>
                        <label class="switch">
                        <input type="checkbox" [(ngModel)]="sample.isLocked" (change)="changeLock(sample.isLocked?'1':'0')"
                        name="isLocked" #name="ngModel" value="sample.isLocked">
                        <span class="slider round"></span>
                        </label>
                    </td>
                </tr>
            </tbody>
        </table>
        <button type="submit" class="btn btn-secondary">Update info</button>
    </form>
    </div>