
      <div class="container-fluid">
        <div class="d-flex justify-content-center">

            <div class="d-flex flex-column">
              <div class="mt-5">
                <h1>Upload Music</h1>
              </div>
              <div class="ml-4">
                <input type="file" #file placeholder="Choose file" (change)="uploadFile(file.files)" style="display:none;">
                <button type="button" class="btn btn-success" (click)="file.click()">Upload File</button>
              </div>
              <div class="ml-4">
                <span class="upload" *ngIf="progress > 0">
                  {{progress}}%
                </span>
              </div>
              <div class="ml-4">
                <span class="upload" *ngIf="message">
                  {{message}}
                </span>
              </div>


          </div>
        </div>
      </div>

