<div (window:resize)="onResize()">
  <div class="topbar" [ngStyle]="{'padding-top': paddingForTopBar}">

    <div class="my-colors">
      <div class="color-option" [ngStyle]="{'background-color': 'red'}" (click)="changeColor('red', $event)"></div>
      <div class="color-option" [ngStyle]="{'background-color': 'orange'}" (click)="changeColor('orange', $event)">
      </div>
      <div class="color-option" [ngStyle]="{'background-color': 'yellow'}" (click)="changeColor('yellow', $event)">
      </div>
      <div class="color-option" [ngStyle]="{'background-color': 'green'}" (click)="changeColor('green', $event)"></div>
      <div class="color-option" [ngStyle]="{'background-color': 'blue'}" (click)="changeColor('blue', $event)"></div>
      <div class="color-option" [ngStyle]="{'background-color': 'purple'}" (click)="changeColor('purple', $event)">
      </div>
      <div class="color-option" [ngStyle]="{'background-color': 'pink'}" (click)="changeColor('pink', $event)"></div>
      <div class="color-option" [ngStyle]="{'background-color': 'black'}" (click)="changeColor('black', $event)"></div>
      <div class="color-option" [ngStyle]="{'background-color': 'white'}" (click)="changeColor('white', $event)"></div>
    </div>

    <div class="my-buttons">
      <button class="playButton" mat-stroked-button color="primary" (click)="playStop()">Play/Stop</button>
      <button class="playButton" mat-stroked-button color="primary" (click)="showForm();">Save Project</button>
      <button class="playButton" mat-stroked-button color="primary" (click)="Clear();">Clear</button>
    </div>

    <div class="my-sliders">
      <div><label class="pr-2">Volume:</label>
        <mat-slider (input)="changeVolume($event)" step="1" min="-50" max="-10" value="-10"></mat-slider>
      </div>
      <div *ngIf="tempo"><label class="pr-2">Tempo:</label>
        <mat-slider (input)="tempoChange($event)" step="1" min="10" max="300" value="160"></mat-slider> {{tempo}}
      </div>
      <div>
        <mat-form-field>
          <mat-label>Select Effect</mat-label>
          <mat-select (selectionChange)="changeEffect($event)">
            <mat-option value="distortion">Distortion</mat-option>
            <mat-option value="reverb">Reverb</mat-option>
            <mat-option value="delay">Delay</mat-option>            
            <mat-option value="autoWah">AutoWah</mat-option>
            <mat-option value="pitchshift">Pitch Shift</mat-option>
            <mat-option value="bitcrush">BitCrusher</mat-option>
            <mat-option value="cheby">Chebyshev</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div *ngIf="dist && showDistortion"><label class="pr-2">Distortion:</label>
        <mat-slider (input)="changeDistortionAmount($event)" [value]="dist.distortion" step="0.001" min="0" max="1" ></mat-slider> {{dist.distortion * 100 | number:'1.0-0'}} %
      </div>
      <div *ngIf="reverb && showReverb">
        <button class="playButton" mat-stroked-button color="primary" (click)="connectEffect(this.reverb);">On</button>
        <button class="playButton" mat-stroked-button color="primary" (click)="disconnectEffect(this.reverb);">Off</button>
        <label class="pr-2">Reverb:</label>

        <mat-slider (input)="changeReverbDecay($event)" [value]="reverb.decay" step="0.001" min="0.001" max="5"></mat-slider> {{reverb.decay * 20 | number:'1.0-0'}} %
      </div>
      <div *ngIf="delay32 && showDelay">
        <label class="pr-2">Time:</label>
        <mat-slider (input)="changeDelayTime($event)"  step="1" min="0" max="3"></mat-slider>
        <!-- <button class="playButton" mat-stroked-button color="primary" (click)="connectEffect(this.delay32);">On(short)</button>
        <button class="playButton" mat-stroked-button color="primary" (click)="disconnectEffect(this.delay32);">Off(short)</button>
        <button class="playButton" mat-stroked-button color="primary" (click)="connectEffect(this.delay16);">On(med)</button>
        <button class="playButton" mat-stroked-button color="primary" (click)="disconnectEffect(this.delay16);">Off(med)</button>
        <button class="playButton" mat-stroked-button color="primary" (click)="connectEffect(this.delay8);">On(long)</button>
        <button class="playButton" mat-stroked-button color="primary" (click)="disconnectEffect(this.delay8);">Off(long)</button> -->
      </div>
      <div *ngIf="autoWah && showAutoWah">
        <button class="playButton" mat-stroked-button color="primary" (click)="connectEffect(this.autoWah);">On</button>
        <button class="playButton" mat-stroked-button color="primary"
          (click)="disconnectEffect(this.autoWah);">Off</button>
        <label class="pr-2">Frequency:</label>
        <mat-slider (input)="changeAutoWahFreq($event)" [value]="autoWah.baseFrequency" step="0.1" min="5" max="100"></mat-slider>
        <label class="pr-2">Sweep Range:</label> 
        <mat-slider (input)="changeAutoWahRange($event)" [value]="autoWah.octaves" step="0.1" min="1" max="30"></mat-slider>
      </div>
      <div *ngIf="pitchshift && showPitchShift">
        <button class="playButton" mat-stroked-button color="primary"
          (click)="connectEffect(this.pitchshift);">On</button>
        <button class="playButton" mat-stroked-button color="primary"
          (click)="disconnectEffect(this.pitchshift);">Off</button>
        <label class="pr-2">Pitch:</label>

        <mat-slider (input)="changePitchShift($event)" [value]="pitchshift.pitch" step="0.001" min="-48" max="48"></mat-slider> {{pitchshift.pitch * 1 | number:'1.0-0'}}
      </div>
      <div *ngIf="bitcrush2 && showBitCrush">
        <button class="playButton" mat-stroked-button color="primary" (click)="connectEffect(this.bitcrush2);">2bit
          On</button>
        <button class="playButton" mat-stroked-button color="primary" (click)="disconnectEffect(this.bitcrush2);">2bit
          Off</button>
        <button class="playButton" mat-stroked-button color="primary" (click)="connectEffect(this.bitcrush1);">1bit
          On</button>
        <button class="playButton" mat-stroked-button color="primary" (click)="disconnectEffect(this.bitcrush1);">1bit
          Off</button>
      </div>
      <div *ngIf="cheby && showCheby">
        <button class="playButton" mat-stroked-button color="primary" (click)="connectEffect(this.cheby);">On</button>
        <button class="playButton" mat-stroked-button color="primary"
          (click)="disconnectEffect(this.cheby);">Off</button>
        <label class="pr-2">Order:</label>
        <mat-slider (input)="changeCheby($event)" [value]="cheby.order" step="1" min="2" max="100"></mat-slider> {{cheby.order * 1 | number:'1.0-0'}}
      </div>
    </div>




    <div class="my-dropdowns">
      <mat-form-field class="mb-4">
        <mat-label>Load Saved Project</mat-label>
        <mat-select>
          <mat-option *ngFor="let project of savedProjects" (click)="loadProject(project)">
            {{project.sample}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Load Sample Set</mat-label>
        <mat-select>
          <mat-option *ngFor="let sampleSet of sampleSets" (click)="changeSampleSet(sampleSet)">
            {{sampleSet.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>


  <div class="soundboard-container">
    <div class="play-feature">
      <div class="play-position"
        [ngStyle]="{'transform': 'translateX(' + currentTimePosition + 'em) translateY(-3.5px)'}"></div>
    </div>
    <div *ngFor="let track of tracks;" class="pad" (mousedown)="startTracking()" (mouseup)="stopTracking()"
      (mouseleave)="stopTracking()">
      <span class="track-name">
        {{track.sample.sampleName}}
      </span>
      <div class="mini-pad">
        <div *ngFor="let currentNote of track.note;" class="block-container">
          <div *ngIf="track.part.mute == false" class="single-block"
            [ngStyle]="{'background-color': currentNote.color, 'opacity': '100%'}"
            (click)="changeState(currentNote, track)" (mouseover)="getTrackedPosition($event, currentNote, track)">
          </div>
          <div *ngIf="track.part.mute == true" class="single-block"
            [ngStyle]="{'background-color': currentNote.color, 'opacity': '40%'}"
            (click)="changeState(currentNote, track)" (mouseover)="getTrackedPosition($event, currentNote, track)">
          </div>
        </div>

        <div class="options">
          <div *ngIf="tempSoloedTrack != track" (click)="soloTrack(track)"><img src="../../assets/images/solo-off.png">
          </div>
          <div *ngIf="tempSoloedTrack == track" (click)="soloTrack(track)"><img src="../../assets/images/solo-on.png">
          </div>
          <div *ngIf="track.part.mute == true" (click)="muteTrack(track)"><img src="../../assets/images/mute.png"></div>
          <div *ngIf="track.part.mute == false" (click)="muteTrack(track)"><img src="../../assets/images/unmute.png">
          </div>
          <div (click)="showTrackSettings(track)"><img src="../../assets/images/gear.png"></div>
          <div (click)="deleteTrack(track)"><img src="../../assets/images/tiny-trash-can.png"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="blue-button-container">
    <div>
      <button class="blue-button mt-3 btn btn-primary" (click)="showSamples()">Add Sample To Track</button>
    </div>
    <div>
      <audio controls></audio>
      <br />
      <button (click)="record();" class="blue-button btn btn-primary">Record/Stop Record</button>
    </div>
  </div>
</div>

<div id="pop-out-container" [ngStyle]="{'display': popOutDisplay}">
  <div class="close-pop-out" (click)="hideSamples()">
    <div class="x1"></div>
    <div class="x2"></div>
  </div>
  <div class="pop-out">
    <h1 class="p-3">Click a sample to add it to your track</h1>
    <ul class="sample-list">
      <li *ngFor="let sample of samples" class="sample-item" (click)="addTrack(sample)"
        (mouseenter)="playSound(sample)">{{sample.sampleName}}</li>
    </ul>
    <div *ngIf="loadingSampleError" class="pl-2">
      <p>
        {{loadingSampleError}}
      </p>

      <ul class="failed-sample-list">
        <li *ngFor="let failedSample of failedSamples" class="failed-sample-item">
          {{failedSample}}
        </li>
      </ul>
    </div>
  </div>
</div>


<div id="pop-out-settings" *ngIf="editingTrack" [ngStyle]="{'display': popOutSettings}">
  <div class="close-pop-out" (click)="hideTrackSettings()">
    <div class="x1"></div>
    <div class="x2"></div>
  </div>
  <div class="pop-out pl-3">
    <h1 class="p-3">Settings for {{editingTrack.sample.sampleName}}</h1>

    <div>
      <label class="pr-2">Volume:</label>
      <mat-slider (input)="changeTrackVolume($event, editingTrack)" step="1" min="-50" max="0" value="0"></mat-slider>
    </div>

    <div>
      <label class="pr-2">Distortion:</label>
      <mat-slider (input)="changeTrackDistortionAmount($event, editingTrack)" step="0.01" min="0" max="1" value="0"></mat-slider>
    </div>

    <div>
      <label class="pr-2">Reverb:</label>
      <mat-slider (input)="changeTrackReverbVolume($event, editingTrack)" step="0.1" min="-50" max="0" value="0"></mat-slider>
      <button class="playButton" mat-stroked-button color="primary" (click)="connectTrackEffect(this.reverb, editingTrack);">Only</button>
      <button class="playButton" mat-stroked-button color="primary" (click)="disconnectTrackEffect(this.reverb, editingTrack);">Off</button>
    </div>

    <div>
      <label class="pr-2">Short Delay:</label>
      <button class="playButton" mat-stroked-button color="primary" (click)="disconnectTrackEffect(this.delay32, editingTrack);">Off</button>
    </div>

    <div>
      <label class="pr-2">Med Delay:</label>
      <button class="playButton" mat-stroked-button color="primary" (click)="disconnectTrackEffect(this.delay16, editingTrack);">Off</button>
    </div>

    <div>
      <label class="pr-2">Long Delay:</label>
      <button class="playButton" mat-stroked-button color="primary" (click)="disconnectTrackEffect(this.delay8, editingTrack);">Off</button>
    </div>

    <div>
      <label class="pr-2">AutoWah:</label>
      <button class="playButton" mat-stroked-button color="primary" (click)="disconnectTrackEffect(this.autoWah, editingTrack);">Off</button>
    </div>

    <div>
      <label class="pr-2">PitchShift:</label>
      <button class="playButton" mat-stroked-button color="primary" (click)="disconnectTrackEffect(this.pitchshift, editingTrack);">Off</button>
    </div>

    <div>
      <label class="pr-2">Chebyshev:</label>
      <button class="playButton" mat-stroked-button color="primary" (click)="disconnectTrackEffect(this.cheby, editingTrack);">Off</button>
    </div>
  </div>
</div>

<div id="pop-out-form" [ngStyle]="{'display': popOutForm}">
  <div class="close-pop-out" (click)="hideForm()">
    <div class="x1"></div>
    <div class="x2"></div>
  </div>
  <div class="pop-out">
    <form (ngSubmit)="createNewProject()" #savedProjectForm="ngForm" class="p-4">
      <div class="form-group">
          <input type="text" [(ngModel)]="newSavedProject.name" #name="ngModel" class="form-control" id="savedProjectName"
              name="savedProjectName" placeholder="Enter a name for the project" required>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>