mat-card-title {
  text-align: center;
}
body {
  height: 100%;
  margin-left: 0px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.playButton {
  height: 50px;
  width: 100px;
  background-color: white;
}

.pad {
  height: 25px;
  width: 50px;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  margin-left: 40px;
  margin-right: auto;
}

.step {
  height: 50px;
  width: 50px;
  color: -internal-light-dark(black, white);
}

.cell {
  height: 50px;
  width: 50px;
  color: white;
  background: black;
}

.single-block {
  flex: auto;
  min-height: 40px;
  min-width: 40px;
  display: inline-block;
  border: none;
  margin-right: 5px;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  border-color: black;
  border-style: solid;
}
.centered {
  background-image: url("https://images.freeimages.com/images/large-previews/e62/sheet-music-2-1422623.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  box-sizing: border-box;
  height: 100%;
}
.topbar {
  text-align: center;
  background-color: gray;
  padding-top: 56px;
}
.mat-slider {
  color: white;
}
.center {
  margin-right: auto;
  margin-left: 200px;
}

.container
{
  text-align: center;
}


