
mat-card-title {text-align: center;}
html, body { height: 100%; }
body { 
  margin-left: 0px; font-family: Roboto, "Helvetica Neue", sans-serif; 
  padding-top: 56px;
}

.centered {
  text-align: left;
}

.playButton {
  height: 50px;
  width: 100px;
}

.pad {
  height: 25px;
  width: 50px;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  margin-left: 40px;
  margin-right: auto;
}

.step {
  height: 50px;
  width: 50px;
  color: -internal-light-dark(black, white);
}

.cell {
  height: 50px;
  width: 50px;
  color: white;
  background: black;
}

.single-block {
  flex: auto;
  min-height: 40px;
  min-width: 40px;
  display: inline-block;
  border: none;
  margin-right: 5px;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  border-color: black;
  border-style: solid;
}
.centered{
  background-image: url('https://i.pinimg.com/564x/f7/3a/5b/f73a5b4b7262440684a2b5c39e684304.jpg');
  background-size: contain;
}