* {
  box-sizing: border-box;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: center;
  padding: 15px;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

mat-card-title {
  text-align: center;
}
body {
  height: 100%;
  margin-left: 0px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.playButton {
  padding: 4px 10px 4px 10px;
  background-color: white;
  transition: all 0.3s;
}

.playButton:hover {
  background-color: rgb(236, 236, 236);
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.2);
}

.pad{
  height: 25px;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}

.block-container{
  position: relative;
}

.options{
  display: inline;
  transition: all 1s;
  transform: translateX(-15px);
  opacity: 0%;
  padding: 10px;
  cursor: pointer;
}

.pad:hover > .options{
  opacity: 100%;
  transform: translateX(0px);
}

.step {
  height: 50px;
  width: 50px;
  color: -internal-light-dark(black, white);
}

.cell {
  height: 50px;
  width: 50px;
  color: white;
  background: black;
}

.single-block {
  flex: auto;
  min-height: 40px;
  min-width: 40px;
  display: inline-block;
  border: none;
  margin-right: 5px;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  border-color: black;
  border-style: solid;
  opacity: 90%;
}

.single-block:hover {
  opacity: 100%;
}

.topbar {
  text-align: center;
  background-color: rgb(148, 148, 148);
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 5px;
}
.mat-slider {
  color: white;
}

.center-grid{
  justify-content: center;
}

.container
{
  text-align: center;
}

.sample-list
{
  width: 100%;
  display: flex;
  flex-direction: column;
  list-style: none;
  font-size: 18px;
  padding-left: 0px;
}

.sample-item
{
  width: 100%;
  padding: 10px;
  cursor: pointer;
  transition: all 0.3s;
  border-bottom: 1px solid #000000;
}

.sample-item:first-child
{
  border-top: 1px solid #000000;
}

.sample-item:hover
{
  background-color: rgb(184, 184, 184);
}

#pop-out-container
{
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #0000007c;
  z-index: 100;
  top: 0;
  left: 0;
}

.pop-out
{
  background-color: rgb(209, 209, 209);
  width: 60%;
  position: absolute;
  top: 200px;
  top: 50%;  
  left: 50%; 
  transform: translate(-50%, -50%);
}

.close-pop-out
{
  position: absolute;
  right: 13%;
  top: 11%;
  cursor: pointer;
  transition: all 0.3s;
  padding: 20px;
  height: 50px;
  width: 50px;
}

.x1
{
  background-color: #FFFFFF;
  width: 50px;
  height: 5px;
  border-radius: 30px;
  transition: all 0.3s;
  transform: translateX(-20px) translateY(6px) rotate(-45deg);
}

.x2
{
  background-color: #FFFFFF;
  width: 50px;
  height: 5px;
  border-radius: 30px;
  transition: all 0.3s;
  transform: translateX(-20px) rotate(45deg);
}

.close-pop-out:hover .x1
{
  background-color: #ff4848;
}

.close-pop-out:hover .x2
{
  background-color: #ff4848;
}

.my-buttons{
  width: 200px;
  display: flex;
  flex-direction: column;

}

.my-buttons button{
  margin-bottom: 8px;
}

.my-sliders{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.my-dropdowns{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.my-colors{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  display: grid;
  grid-template-columns: auto auto auto;
}

.color-option{
  height: 3em;
  width: 3em;
  opacity: 80%;
  border: 1px solid #000000;
  border-radius: 5px;
  margin: 2px;
  cursor: pointer;
}

.color-option:hover{
  opacity: 100%;
}

.topbar div{
  padding-left: 20px;
  padding-right: 20px;
}

.play-feature{
  margin-top: 30px;
  background-color: rgb(209, 209, 209);
  width: 100em;
  margin-left: auto;
  margin-right: auto;
  height: 2px;
  border-radius: 100px;
  transform: translateX(-55px);
}

.play-position{
  background-color: #3b3b3b;
  border-radius: 100%;
  width: 8px;
  height: 8px;
  position: relative;
}

.blue-button{
  width: 300px;
  height: 40px;
  padding: 4px 10px 4px 10px;
  transition: all 0.3s;
  margin-left: auto;
  margin-right: auto;
}

.blue-button:hover {
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.2);
}

.soundboard-container{
  display: flex;
  flex-direction: column;
}

.blue-button-container{
  display: flex;
  justify-items: center;
  margin-top: 4em;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #000000;
  padding: 10px;
  background-color: #5e5e5e67;
  border-radius: 100px;
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.466);
}

.blue-button-container div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

@media only screen and (max-width: 1480px){
  .single-block {
    min-height: 30px;
    min-width: 30px;
  }

  .play-feature{
    width: 76em;
    transform: translateX(-70px);
  }
  
  .play-position{
    width: 6px;
    height: 6px;
  }

  .pad{
    height: 20px;
  }

  .blue-button-container{
    padding: 5px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.466);
  }

  .blue-button{
    width: 200px;
    height: 35px;
    padding: 3px 8px 3px 8px;
  }
}

