<div (window:resize)="onResize()">
  <div class="topbar" [ngStyle]="{'margin-top': marginForTopBar}">

    <div class="my-buttons">
      <button class="playButton" mat-stroked-button color="primary" (click)="playStop()">Play/Stop</button>
      <button class="playButton" mat-stroked-button color="primary" (click)="savePattern();">Save Pattern</button>
      <button class="playButton" mat-stroked-button color="primary" (click)="Clear();">Clear</button>
    </div>

    <div class="my-sliders">
      <div><label class="pr-2">Volume:</label>
        <mat-slider (input)="changeVolume($event)" step="1" min="-55" max="0" value="-10"></mat-slider>
      </div>
      <div *ngIf="tempo"><label class="pr-2">Tempo:</label>
        <mat-slider (input)="tempoChange($event)" step="1" min="10" max="300" value="80"></mat-slider> {{tempo}}
      </div>
      <div *ngIf="dist"><label class="pr-2">Distortion:</label>
        <mat-slider (input)="changeDistortionAmount($event)" step="0.001" min="0" max="1" value="0"></mat-slider> {{dist.distortion * 100 | number:'1.0-0'}} %
      </div>
      <div *ngIf="reverb"><label class="pr-2">Reverb:</label>
        <mat-slider (input)="changeReverbDecay($event)" step="0.001" min="0.001" max="5" value="0.001"></mat-slider> {{reverb.decay * 20 | number:'1.0-0'}} %
      </div>
    </div>

    <div>
      <mat-form-field class="pr-4">
        <mat-label>Load Preset Pattern</mat-label>
        <mat-select>
          <mat-option *ngFor="let presetPattern of presetPatterns" (click)="loadPattern(presetPattern)">
            {{presetPattern.sample}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Load Sample Set</mat-label>
        <mat-select>
          <mat-option *ngFor="let sampleSet of sampleSets" (click)="changeSampleSet(sampleSet)">
            {{sampleSet.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>


  <div class="soundboard-container">
    <div class="play-feature"><div class="play-position" [ngStyle]="{'transform': 'translateX(' + currentTimePosition + 'em) translateY(-3.5px)'}"></div></div>
    <div *ngFor="let track of tracks;" class="pad" (mousedown)="startTracking()" (mouseup)="stopTracking()" (mouseleave)="stopTracking()">
      <div *ngFor="let currentNote of track.note;">
        <div class="single-block" [ngStyle]="{'background-color': currentNote.color}" (click)="changeState(currentNote, track)" (mouseover)="getTrackedPosition($event, currentNote, track)">
        </div>
      </div>
      <div class="options" (click)="deleteTrack(track)"><img src="../../assets/images/tiny-trash-can.png"
          style="width: 20px; opacity: 75%;"></div>
    </div>
  </div>

  <div class="blue-button-container">
    <div>
      <button class="blue-button mt-3 btn btn-primary" (click)="showSamples()">Add Sample To Track</button>
    </div>
    
    <div>
      <audio controls></audio>
      <br/>
      <button (click)="record();" class="blue-button btn btn-primary">Record/Stop Record</button>
    </div>
  </div>
</div>

<div id="pop-out-container" [ngStyle]="{'display': popOutDisplay}">
  <div class="close-pop-out" (click)="hideSamples()">
    <div class="x1"></div>
    <div class="x2"></div>
  </div>
  <div class="pop-out">
    <h1 class="p-3">Click a sample to add it to your track</h1>
    <ul class="sample-list">
      <li *ngFor="let sample of samples" class="sample-item" (click)="addTrack(sample.sample)"
        (mouseenter)="playSound(sample)">{{sample.sampleName}}</li>
    </ul>
  </div>
</div>