<div class="row h-24">
    <div class="col-8">
  what are you doing here
    </div>
  </div>

  <div class="jumbotron">
      <h1 class="display-4">Sample Hub</h1>
      <p class="lead">Browse samples other users have uploaded to RevMixer, and add them to your library for personal use!</p>
  </div>
<div class="container">
    <h1>All Public Samples</h1>
</div>
<div class="container">
    <table class="table table-striped">
        <thead>
            <th>
                Sample Name
            </th>
            <th>
                Sample Playback
            </th>
            <th>
                Creator
            </th>
            <th>
                Add Sample to Personal Library
            </th>
        </thead>
        <tbody>
            <tr *ngFor="let sample of allSamples">
                <td>{{sample.sampleName}}</td>
                <td><audio src="{{sampleStorage}}/{{sample.sampleLink}}" controls></audio></td>
                <td><button>Add to Library</button></td>
            </tr>
        </tbody>
    </table>
</div>