<div class="container top-of-page">
    <div class="container">
        <h1>
            Your Playlist
        </h1>
        <table class="table table-striped">
            <thead>
                <th>
                    Song Name
                </th>
                <th>
                    Song Playback
                </th>
                <th>
                    
                </th>
            </thead>
            <tbody>
                <tr *ngFor="let song of playlist">
                    <td>{{song.name}}</td>
                    <td><audio src="{{musicStorage}}/{{song.musicFilePath}}" controls></audio></td>
                    <td (click)="RemoveSongFromPlaylist(song)" style="cursor: pointer;"><img src="../../../../assets/images/tiny-trash-can.png" style="width: 30px; height: 30px;"></td>
                </tr>
            </tbody>
        </table>
    </div>


    <div class="container top-of-page">
        <h1>
            All Songs
        </h1>
        <table class="table table-striped">
            <thead>
                <th>
                    Song Name
                </th>
                <th>
                    Song Playback
                </th>
                <th>
                    
                </th>
            </thead>
            <tbody>
                <tr *ngFor="let song of allMusic">
                    <td>{{song.name}}</td>
                    <td><audio src="{{musicStorage}}/{{song.musicFilePath}}" controls></audio></td>
                    <td><button (click)="AddSongToPlaylist(song)">Add to Playlist</button></td>
                </tr>
            </tbody>
        </table>
    </div>


</div>