<div class="top-of-page container">
    <h1 style="font-size: 30px;">Admin Page</h1>
    <p style="font-size: 15px;">
        You can manage uploaded songs here.
        An uploaded song can be deleted by selecting the delete button next to its name.
    </p>
    <div>
        <h3 style="font-size: 20px;">Manage Songs</h3>
        <div>
            <form (ngSubmit)="onSubmit()" #userForm="ngForm">
                <table class="table">
                    <thead class="h4">
                        <th>Name</th>
                        <th>Manage</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let music of music2admin;" class="h5">
                            <td>
                                {{music.name}}
                            </td>
                            <td (click)="deleteSong(music.id)" style="cursor: pointer;">
                                <img style="height: 30px; width: 30px;" src="../../assets/images/tiny-trash-can.png">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>
</div>