<div class="container mt-5 mb-5">
    <div class="d-flex justify-content-center row">
        <div class="d-flex flex-column col-md-8">
            <div class="d-flex flex-row align-items-center text-left comment-top p-2 bg-white border-bottom px-4">
                <div class="d-flex flex-column ml-3">
                    <div class="d-flex flex-row post-title">
                        <h4>User Uploads</h4><span class="ml-2"></span>
                    </div>
                    <app-audio-player></app-audio-player>
                    <div class="d-flex flex-row align-items-center align-content-center post-title">
                        <span class="mr-2 dot"></span><span></span>
                    </div>
                    <app-comment></app-comment>
                </div>
            </div>
        </div>
    </div>
</div>