<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        .container{
            display: flex;
            justify-content: center;
        }
    </style>
</head>
<body>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <div class="container">
        <form (ngSubmit)="onSubmit()" #sampleSetForm= "ngForm">
            <div class="form-group">
                <label>Sample Set Name:</label>
                <input type="text" [(ngModel)] = "newSampleSet.name" #name="ngModel" class="form-control" id="sampleSetName" name="sampleSetName" placeholder="Enter a name for the Sample Set">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</body>