<div class="container text-center top-of-page">
    <div class="row">
        <div class="col-sm-3 well row-style">
            <div class="well row-style">
                <p>{{user.email}}</p>
                <img src="{{authUser.picture}}" class="img-circle rounded-circle" height="65" width="65" alt="Avatar">
            </div>
            
            <ul class="list-group">
                <li class="list-group-item">Has contributed to {{user.userProjects.length}} Projects</li>
                <li class="list-group-item">Has Uploaded {{user.uploadMusics.length}} Songs </li>
                <li class="list-group-item">Has Uploaded {{user.sample.length}} Samples </li>
            </ul>
        </div>

        <div class="col-sm-7">
            <div class="well row-style">
                <h1>Uploaded Music</h1>

                <div class="row">
                    <div class="col-sm-5">
                        
                    </div>
                    <div class="col-sm-12">
                        <div class="well row-style">
                            <ngx-audio-player [playlist]="audioCollection" [displayTitle]="msaapDisplayTitle"
                                [autoPlay]="false" muted="muted" [displayPlaylist]="msaapDisplayPlayList"
                                [pageSizeOptions]="msaapPageSizeOptions"
                                [displayVolumeControls]="msaapDisplayVolumeControls"
                                [displayArtist]="msaapDisplayArtist" [displayDuration]="msaapDisplayDuration"
                                [expanded]="true" [displayVolumeControls]="msaapDisplayVolumeControls"
                                [displayRepeatControls]="msaapDisplayRepeatControls"
                                [disablePositionSlider]="msaapDisablePositionSlider" [expanded]="true">
                                <p>Testing Something</p>
                            </ngx-audio-player>
                            <a routerLink="/editSongs">Edit songs</a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- <div class="well row-style">
                <h1>Uploaded Samples</h1>
            </div>

            <div class="row" *ngFor="let uploadedSamples of user.sample">
                
                <div class="col-sm-12">
                    <div class="well row-style">
                        <p>{{uploadedSamples.sampleName}}</p>
                        <a routerLink="/editSamples">Edit samples</a>
                    </div>
                </div>
            </div> -->
            

        <div class="well row-style">
            <h1>Playlists</h1>

            <div class="row">
                <div class="col-sm-12">
                    <div class="well row-style">
                        <table class="table">
                            <thead>
                                <th>
                                    Playlist Name
                                </th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let playlist of userPlayLists;"  (click)="GetPlaylist(playlist.id)">
                                    <td>{{playlist.name}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <button routerLink="/newPlayList" class="btn btn-primary">Create New Playlist</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="well row-style">
                <h1>Sample Sets</h1>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="well row-style">
                            <table class="table">
                                <thead>
                                    <th>
                                        Sample Set Name
                                    </th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let set of userSampleSets;" (click)="GetSampleSet(set.id)">
                                        <td>{{set.name}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <button routerLink="/newSampleSet" class="btn btn-primary">Create New Sample Set</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-sm-7 offset-sm-3">
        </div> 
    </div>
</div>