body
{
    background-image: url('https://i.pinimg.com/originals/0b/a8/df/0ba8dfceaa16c47b713cbed42c1e6b34.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    box-sizing: border-box;
}
.container
{
    margin-bottom: 0%;
}