<p>view-sample-set works!</p>
<!-- <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        .container{
            display: flex;
            justify-content: center;
        }
    </style>
</head>
<body>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <div class="container">
        <h2>{{selectedPlaylist.name}} Playlist</h2>
    </div>
    <div class="container">
        <table class="table">
            <tr *ngFor="let song of playlistMusic">
                <td>{{song.name}}</td>
                <td><audio src="{{songlink}}/{{song.musicFilePath}}" controls></audio></td>
            </tr>
        </table>
    </div>
    <div class="container">
        <h2>All Songs</h2>
    </div>
    <div class="container">
        <table class="table table-striped">
            <thead>
                <th>
                    Song Name
                </th>
                <th>
                    Artist
                </th>
                <th>
                    Add
                </th>
            </thead>
            <tbody>
                <tr *ngFor="let song of allMusic;">
                    <td>{{song.name}}</td>
                    <td>{{song.user.email}}</td>
                    <td><button (click)="AddSongToPlaylist(song.id)">Add to Playlist</button></td>
                 </tr>
            </tbody>
        </table>
    </div>
</body> -->

